body {
    background-color: #eeaa11;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

h1 {
    font-family: 'Flamenco', cursive;
    font-size: 24pt;
    font-weight: bold;
}
h2 {
    font-family: 'Flamenco', cursive;
    font-size: 20pt;
}
h3 {
    font-family: 'Flamenco', cursive;
    font-size: 18pt;
}
p {
    padding: 0 15px 0 15px;
    text-align: justify;
    text-align-last: left;
    text-indent: 2em;
}
em {
    font-family: 'Flamenco', cursive;
    font-weight: bold;
    font-size: 150%;
    line-height: 75%;
}

button {
    border-radius: 6px;
    background-color: #646464;
    color: #ffffff;
    font-size: 20pt;
    font-weight: bold;
    max-width: 12em;
    max-height: 5em;
    width: auto;
    height: auto;

    border-color: #444444;
}
button:hover {
    background-color: #999999;
    border-color: #666666;
}
button:active {
    background-color: #55b1b1;
    border-color: #009090;
}

img.logo {
    display: block;
    max-width: 100%;
    max-height: 100px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vmin;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

div.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 2vmin;
    text-align: center;
    padding-top: 0.3vmin;
    padding-bottom: 3vmin;
}

#tbl-main {
    border-color: black;
    border-width: 3;
    border-style: solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Reformat website for smaller/thinner windows */
@media (max-width: 800px) {
    div.container { max-width: 95%; }

    h1 { font-size: 20pt; }
    h2 { font-size: 16pt; }
    h3 { font-size: 14pt; }
    body { font-size: 12pt; }
}
/* Widescreen */
@media (min-width: 1000px) {
    div.container { max-width: 900px; }
}